.DS_Store
node_modules
/dist


# env files
.env.local
.env.*.local
.env
.env.prod
prod.env
dev.env
config

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firestore service account
service-accounts

# Firebase
firebase.json
firestore.indexes.json
.firebaserc
.firebase

app.yaml
.gcloudignore
environments.prod.js