service cloud.firestore {

  match /databases/{database}/documents {

    function isUserWithId(userId) {
      return request.auth.uid == userId;
    }
    

    match /purchaseSessions/{purchaseId} {

      allow read: if request.auth.uid == resource.data.userId;

    }

    match /users/{userId} {

      allow read: if isUserWithId(userId);

    }

    match /reports/{reportId} {
      allow read: if true;
    }

  }

}